[submodule "Bravo/vendor/spdlog"]
	path = Bravo/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "Bravo/vendor/imgui"]
	path = Bravo/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "Bravo/vendor/GLFW"]
	path = Bravo/vendor/GLFW
	url = https://github.com/WeiBoom/glfw.git
