[submodule "BravoEngine/source/3rdparty/spdlog"]
	path = BravoEngine/source/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "BravoEngine/source/3rdparty/imgui"]
	path = BravoEngine/source/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
